<div class="row">
    <div class="col-xs-8">
        <h1>Little Explorers</h1>
    </div>
    <div class="col-xs-4">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Home</a></li>
            <li ><a href="#/routes">Viaggi</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
    </div>
</div>

<!-- Carousel -->
<div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/example1.jpg" alt="...">

                <div class="carousel-caption">
                    Passo 1: Scarica l'applicazione
                </div>
            </div>
            <div class="item ">
                <img src="images/example2.jpg" alt="...">

                <div class="carousel-caption">
                    Passo 2: Scegli un percorso
                </div>
            </div>
            <div class="item ">
                <img src="images/example3.jpg" alt="...">

                <div class="carousel-caption">
                    Passo 3: Scopri gli animali e le piante che ti vengono suggeriti
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>
<div class="row" id="bottom">

    <div class="col-md-7" id="introduction">
        <h3>Titolo</h3>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).
    </div>
    <div class="col-md-4   col-md-offset-1" id="login">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-sm-offset-9">
                    <button type="submit" class="btn btn-success">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>