<div id="content">
<style>
    #map_canvas {
    /* width: 400px;*/
    height: 500px;
    border: solid 1px #a0a0a0;
}
</style>

<div class="row">
    <div class="col-xs-8">
        <h1>Little Explorers</h1>
    </div>
    <div class="col-xs-4">
        <ul class="nav nav-pills">
            <li ><a href="#">Home</a></li>
            <li class="active"><a href="#/routes">Viaggi</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
    </div>
</div>

<div class="row" id="title">
    <h3> Il tuo viaggio </h3>
</div>
<div class="row step">


</div>
<div class="row">

    
    <div id="map_canvas" class="col-xs-9"></div>

    <div class="col-xs-3">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalWalking">Aggiungi walking</button>

        <div id="walking_list" class="list-group">
            <div class="list-group-item" ng-repeat="route in routes" >
                <button ng-click="selectWalking(route.id)"  class="btn" ng-class= "{'btn-success': route.id == selectedWalkingId }">{{ route.name }}</button><span class="badge">{{route.count}}</span>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalWalking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Titolo</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="walkingName" class="col-sm-3 control-label">Nome</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="walkingName" ng-model="walking.name" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="walkingDesc" class="col-sm-3 control-label">Descrizione</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="walkingDesc" ng-model="walking.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="walkingLevel" class="col-sm-3 control-label">livello</label>

                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="walkingLevel" ng-model="walking.level">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                    ng-click="addWalking()">
                    Save changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





<div class="modal fade" id="modalQuiz" tabindex="-1" role="dialog" aria-labelledby="modalQuizTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalQuizTitle">Point of Interest</h4>
                </div>

                <div class="modal-body">
                    <h2 for="form-group" class="col-sm-3 control-label"> {{selectedPoi.name}}</h2>
                     <label for="selectedPoiDesc" class="control-label">Descrizione: </label><p id="selectedPoiDesc">{{selectedPoi.description}}</p>
                    <label for="selectedPoiLoc" class="control-label">Tipo percorso: </label>

                    <div class="progress col-sm-offset-3">
                      <div class="progress-bar progress-bar-success" style="width: 40%">
                        <span class="">40% Natura </span>
                      </div>
                      <div class="progress-bar progress-bar-warning" style="width: 35%">
                        <span class="">35% Arte</span>
                      </div>
                      <div class="progress-bar progress-bar-danger" style="width: 25%">
                        <span class="">25% Animali</span>
                      </div>
                    </div>


                    <div class="form-horizontal" role="form" ng-show="selectedPoi.question">
                        <h4 for="form-group" class="col-sm-3 control-label"> {{selectedPoi.question.text}}</h4>
                        <div class="form-group" id="form-group">
                            <div class="col-sm-6 col-sm-offset-3" ng-repeat="answer in selectedPoi.question.answers">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">{{answer.text}}</button>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





<div class="modal fade" id="modalPoi" tabindex="-1" role="dialog" aria-labelledby="modalPoiTitle"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modalPoiTitle">Aggiungi tappa</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="modalPoiName" class="col-sm-3 control-label">Nome</label>

                    <div class="col-sm-9">
                        <input autofocus type="text" class="form-control" id="modalPoiName" ng-model="poi.name"  >
                    </div>
                </div>

                <div class="form-group">
                    <label for="modalPoiDesc" class="col-sm-3 control-label">Descrizione</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="modalPoiDesc" ng-model="poi.description">
                    </div>
                </div>

                <div class="form-group">
                    <label for="modalPoiLocationType" class="col-sm-3 control-label">Tipo percorso</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="modalPoiLocationType" ng-model="poi.locationType" placeholder="Natura, arte, ecc">
                    </div>
                </div>

                <div class="form-group">
                    <label for="modalPoiIsInteractive" class="col-sm-3 control-label">E' interattivo?</label>

                    <div class="col-sm-9">
                        <input type="checkbox" class="" id="modalPoiIsInteractive" ng-model="poi.isInteractive" >
                    </div>
                </div>

                <div ng-show="poi.isInteractive">
                    <div class="form-group">
                        <label for="modalPoiQuestionText" class="col-sm-3 control-label">Domanda</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modalPoiQuestionText" ng-model="poi.question.text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="modalPoiQuestionPoint" class="col-sm-3 control-label">Punti domanda</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="modalPoiQuestionPoint" ng-model="poi.question.points">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-7 col-sm-5">
                            <button  class="btn btn-primary " ng-click="addAnswer()">Aggiunti possibile risposta</button>
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="answer in poi.question.answers">
                        <label for="modalPoiQuestionAnswer_{{ $index }}" class="col-sm-3 control-label">Testo</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="radio" name="modalPoiQuestionAnswerCorrect" ng-value="$index">
                                  </span>
                                <input type="text" class="form-control" id="modalPoiQuestionAnswer_{{ $index }}" ng-model="answer.text">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addPoi()">Save changes </button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
