html {
	background: #f39c12; /* Old browsers */
	
}
@font-face {
	font-family: bombing;
	src: url('../fonts/Bombing.ttf');
}

.container {
	max-width: 960px;
}
.row {
	margin-top: 5px;
}
#bottom {
	margin-top: 25px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	
	background-color:  #d91313;
}


.row h1 {
	color: #d91313;
	font-size: 4em;
	font-family: 'Purple Purse', cursive;
	letter-spacing:5px;
	padding:0;
}

.nav {
	padding-top: 2em;
	float: right;
}

.form-horizontal {
	margin-top: 2em;
}

#login {
	border-left:2px solid #a0a0a0;
	
	padding:7px;
	padding-left:15px;
}

#title {
	padding: 0;
	margin: 0;
}

#walking_list {
	margin-top: 5px;
}

.selected {
	color: green;
}